html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  zoom: 51%;
}

.text-general {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.p-text {
  color: white;
  font-weight: bold;
  font-size: 15px;
  display: block;
}


.inclined-text {
  position: absolute;
  top: 57%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
  /* Centraliza e inclina o texto em 45 graus */
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}


.container-filling {
  margin-top: -235px;
  position: relative;

}


.square-over-rectangle {
  width: 250px;
  height: 60px;
  border: 4px solid rgb(36, 65, 114);

  background-color: rgb(54, 93, 162);
}


.outside-rectangle {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 760px;
  background-color: rgb(235, 235, 235);

  border: 4px solid rgb(254, 211, 12);
}


.text-rotate {
  font-size: 16px;
  color: white;
  font-weight: bold;
  transform: rotate(-90deg);
  white-space: nowrap;

}


.filling-one {
  position: relative;
  top: 10px;
  left: 20px;
  width: 80px;
  height: 743px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(137, 137, 137);
}


.square-filling {
  width: 80px;
  height: 50px;
  background-color: rgb(254, 211, 12);
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}


.filling-two {
  position: absolute;
  top: 10px;
  left: 150px;
  width: 80px;
  height: 743px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(137, 137, 137);
}

.outside-rectangle-elevator {
  text-align: center;
  position: relative;
}


.elevator {
  width: 190px;
  height: 80px;
  border: 4px solid rgb(187, 154, 8);

  background-color: rgb(254, 211, 12);
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



.door {
  width: 190px;
  height: 20px;
  border: 4px solid rgb(187, 154, 8);

  background-color: rgb(191, 191, 191);
  margin-left: auto;
  margin-right: auto;
}



.material {
  width: 60px;
  height: 50px;

  background-color: rgb(191, 191, 191);
  position: absolute;
  position: absolute;
  right: -2px;
  top: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.material2 {
  width: 60px;
  height: 50px;

  background-color: rgb(54, 93, 162);
  position: absolute;
  right: 65px;
  top: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.material3 {
  width: 60px;
  height: 50px;
  background-color: rgb(54, 93, 162);
  position: absolute;
  text-align: center;
  right: 131px;
  top: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.machine-5029 {
  width: 80px;
  height: 80px;
  background-color: rgb(191, 191, 191);
  position: absolute;
  position: absolute;
  right: -200px;
  top: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}


.right-outside-cart {
  width: 90px;
  height: 390px;
  background-color: rgb(54, 93, 162);
  position: absolute;
  position: absolute;
  right: -200px;
  bottom: 450px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.yellow-border-square {
  width: 700px;
  height: 840px;
  position: relative;
  background-color: rgb(191, 191, 191);
  border: 4px solid rgb(254, 211, 12);
}

.inside-rectangle-scale {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 260px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(137, 137, 137);
  border: 4px solid rgb(254, 211, 12);

}

.rectangle-two {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 270px;
  height: 80px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(137, 137, 137);
}

.rectangle-two img {
  position: absolute;
  top: -80px;
  left: -30px;
  width: 200px;
  height: 160px;

}

.balance {
  font-size: 16px;
  color: white;
  font-weight: bold;
}


.image {
  display: flex;
  justify-content: start;
  margin-top: 90px;
}

.image figure {
  text-align: center;
}

.image img {
  width: 150px;
  height: auto;
}

.image figcaption {
  margin-top: 5px;
  font-size: 14px;
}



.image div {
  text-align: center;
}



.left-machines {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -5px;
}


.left-machines figure {
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
}

.left-machines img {
  width: 75px;
  height: auto;
  margin: 0;
}

.img-4011 {
  margin-top: 2px;
}


.central-machines {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 160px;
  margin-top: -238px;
}


.central-machines figure {
  margin-right: 30px;
}

.central-machines img {
  width: 75px;
  height: auto;
  margin: 0;
}



.right-machines {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -540px;
}



.right-machines figure {
  text-align: center;
  margin-top: 10px;

}

.right-machines figure {
  text-align: center;
}

.right-machines img {
  width: 67px;
  height: auto;
  margin: 0;
}



.lower-cart {
  width: 320px;
  height: 50px;

  background-color: rgb(54, 93, 162);
  position: absolute;
  position: absolute;
  right: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.rectangle-group {
  left: 110px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 90px;

}

.square-cart {
  bottom: 90px;
  width: 78px;
  height: 32px;
  margin: -27 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(36, 65, 114);

  background-color: rgb(54, 93, 162);
}

.div-molde-macharia {
  margin-right: 90px;
  margin-left: -30px;
  right: 230px;

}

.molde-macharia {
  position: absolute;
  left: 140px;
  bottom: -125px;
  width: 40px;
  height: 190px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(54, 93, 162);
  border: 4px solid rgb(36, 65, 114);

}

.bancada {
  top: 190px;
  width: 120px;
  height: 30px;
  background-color: rgb(153, 102, 51);
  margin: 10 20px;
}

.square-group-machines {
  position: absolute;
  display: inline-flex;
  left: 160;
  top: 40;

  margin-left: 27px;
}



.square {
  width: 110px;
  border-left: 33px solid rgb(254, 211, 12);
  height: 90px;
  background-color: rgb(59, 56, 56);
  margin: 15px;
}

.square:nth-child(1) {
  margin-left: 10px;
}

.square:nth-child(2) {
  margin-left: 40px;
}

.square:nth-child(3) {
  margin-left: 37px;
}


.div-circule-and-computer {
  position: relative;
  top: 10;

}

.circle-and-computer {
  width: 30px;
  height: 30px;
  bottom: 90;
  left: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 112, 192);
  border-radius: 50%;

}

.computer {
  width: 90px;
  height: 90px;
  background-color: rgb(0, 112, 192);
  margin: 15px;
  margin-left: -10px;
}

.rectangle-coquilha {
  text-align: center;
  width: 419px;
  height: 50px;
  background-color: rgb(54, 93, 162);
  border: 4px solid rgb(36, 65, 114);

  margin: 5px;
  margin-top: 9px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  left: 210px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  top: 140px;
}



.rectangle-left {

  position: relative;
  justify-content: start;
  align-items: start;
  text-align: start;
  top: calc(100% - 10px);
  left: -250px;
  bottom: 110px;
  transform: translateY(50%);

  width: 320px;
  height: 100px;

  background-color: rgb(137, 137, 137);
  border: 4px solid rgb(254, 211, 12);
}

.square-group {
  position: relative;
  display: flex;
  justify-content: start;
  margin-top: -60px;
  right: 251px;
}



.square-left {
  bottom: 90px;
  width: 78px;
  height: 79px;
  margin: 1px;
  text-align: center;
  flex-direction: column;
  display: block;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  background-color: rgb(59, 56, 56);
}

.square-group-blue {
  position: relative;
  display: flex;
  justify-content: start;
  margin-top: -80px;
  left: 111px;
}

.square-blue {
  width: 69px;
  height: 69px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 4px solid rgb(36, 65, 114);

  background-color: rgb(54, 93, 162);
}

.rectangle-square-group {
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 9px solid rgb(254, 211, 12);
  border-right: 9px solid rgb(254, 211, 12);

  width: 40px;
  height: 45px;
  background-color: rgb(59, 56, 56);
}

.square-blue-rectangle {
  position: absolute;
  top: 100%;
  left: -6;
  width: 69px;
  height: 60px;
  background-color: rgb(54, 93, 162);
  border: 4px solid rgb(36, 65, 114);

}

.circle-right-aligned {
  width: 50px;
  height: 50px;
  left: 70px;
  bottom: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(51, 63, 79);
  border-radius: 50%;
  position: absolute;

}


.rectangle-right-square-group {
  position: absolute;
  top: 60px;
  left: 63px;
  border-top: 9px solid rgb(254, 211, 12);
  border-bottom: 9px solid rgb(254, 211, 12);

  width: 40px;
  height: 45px;
  background-color: rgb(59, 56, 56);

}

.right-blue-square {
  position: absolute;
  top: 45px;
  left: 103;
  width: 69px;
  height: 60px;
  background-color: rgb(54, 93, 162);
  border: 4px solid rgb(36, 65, 114);

}






.inner-gray-square-div {
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: start;
  right: 251px;
}


.inner-gray-square {
  bottom: 190px;
  width: 195px;
  height: 43px;
  margin: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.square-with-circle {
  width: 121px;
  height: 70px;
  margin-bottom: 2px;
  margin: 1px;
  background-color: rgb(54, 93, 162);
  border: 4px solid rgb(36, 65, 114);

  position: relative;
}


.circle {
  border: 4px solid rgb(36, 65, 114);

  width: 90px;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  background-color: rgb(54, 93, 162);
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: -50px;
}


.div-armario {
  text-align: center;
  position: relative;
  top: 50px;
  display: flex;
  align-items: end;
  justify-content: start;
  right: 251px;
}




.blue-square-div-armario {
  border: 4px solid rgb(36, 65, 114);

  width: 125px;
  height: 43px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(54, 93, 162);
}

.armario {
  text-align: center;
  justify-content: center;
  width: 115px;
  height: 23px;
  display: flex;
  background-color: rgb(153, 102, 51);

}

.cocho {
  width: 105px;
  height: 43px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 4px solid rgb(36, 65, 114);
  background-color: rgb(54, 93, 162);
}

.div-escada {
  text-align: center;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  left: 119px;
}

.escada {
  width: 180px;
  height: 49px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  background-color: rgb(59, 56, 56);
  overflow: hidden;
}




.rectangle-grey-coquil {
  text-align: center;
  width: 220px;
  height: 29px;
  background-color: grey;
  border: 4px solid rgb(254, 211, 12);
}



.rectangle-left {
  position: relative;
  justify-content: start;
  align-items: start;
  text-align: start;
  top: calc(100% - 10px);
  left: -250px;
  bottom: 110px;
  transform: translateY(50%);
  width: 320px;
  height: 100px;
  background-color: rgb(137, 137, 137);
  border: 4px solid rgb(254, 211, 12);
}

.rectangle-left::after {
  content: "";
  position: absolute;
  top: 3;
  right: 40;
  width: 100px;
  height: 60px;
  background-color: rgb(254, 211, 12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}






.right-machines-column {
  position: absolute;
  right: 120px;
  top: 544px;
  transform: translateY(-50%);
}

.right-machines-column figure {
  text-align: center;
}

.right-machines-column img {
  width: 70px;
  height: auto;
}

.img-4016 {
  margin-top: 23px;
}


/* Ajuste de tamanho da borda preta 
baseada nas propoções de tela cheia e meia tela 
*/
@media screen and (min-width: 1200px) {
  .bordas {
    width: 198%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #333333;
  }
}

@media screen and (max-width: 1199px) {
  .bordas {
    width: 198%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #333333;
  }
}